<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="sales_order_invoice_save_before">
    <observer name="bitcoin_observer" instance="Appmerce\Bitcoin\Observer\Invoice\SalesOrderInvoiceSaveBefore"/>
  </event>
  <event name="sales_order_creditmemo_save_before">
    <observer name="bitcoin_observer" instance="Appmerce\Bitcoin\Observer\Invoice\SalesOrderCreditmemoSaveBefore"/>
  </event>
</config>