<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment" translate="label" sortOrder="400" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>Payment Methods</label>
      <tab>sales</tab>
      <resource>Appmerce_Bitcoin::system_config</resource>
      <group id="bitcoin" translate="label" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Bitcoin (JSON-RPC)</label>
        <comment>
          Free extension by &lt;a href="http://www.appmerce.com/" title="Applications for Ecommerce" style="color: #EA7601"&gt;Appmerce&lt;/a&gt; | &lt;a href="http://www.appmerce.com/get-support" title="Get support for this extension" style="color: #EA7601"&gt;Get Support&lt;/a&gt;
        </comment>
        <field id="text_example" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Text example</label>
        </field>
        <field id="logo" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Image example (with a comment)</label>
          <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
          <upload_dir config="system/filesystem/media" scope_info="1">logo</upload_dir>
          <base_url type="media" scope_info="1">logo</base_url>
          <comment><![CDATA[Allowed file types: jpeg, gif, png.]]></comment>
        </field>
        <field id="depends_example" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Dependant text field example with validation</label>
          <depends>
            <field id="*/*/dropdown_example">1</field>
          </depends>
          <validate>validate-no-empty</validate>
        </field>
        <field id="textarea_example" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Textarea example</label>
        </field>
      </group>
    </section>
  </system>
</config>
